    <%= f.text_field :login, :class => 'text_field' %>

    <%= f.text_field :email, :class => 'text_field' %>

    <%= f.password_field :password, :class => 'password_field' %>
    <%= f.password_field :password_confirmation, :class => 'password_field' %>

    <div class="actions">
      <button class="btn primary" type="submit">Save</button> or
      <%= link_to "Cancel", users_path %>
    </div>
