<%= bootstrap_form_for @user, :html => {class: 'well' } do |f| -%>
  <%= render partial: "shared/form_errors", locals: {obj: @user} %>

  <%= f.text_field :login, :class => 'span4' %>
  <%= f.text_field :email, :class => 'span4' %>
  <%= f.password_field :password, :class => 'span4' %>
  <%= f.password_field :password_confirmation, :class => 'span4' %>
    
  <%= f.fields_for :profile do |profile| %>
    <%= profile.text_field :nick_name, :class => 'span4' %>
    <%= profile.text_field :age, :class => 'span2' %>
    <%= profile.select :locale,
                 CarrotSns::Application.config.avairable_languages,
                 :class => 'select' %>
    <%= profile.text_area :comment, :class => 'span5', cols: 80, rows: 6 %>
  <% end %>

  <div class="form-actions">
    <%= f.submit i18n_t("label", "save"),
                 class: "btn btn-primary" %> or
    <%= link_to i18n_t("label", "cancel"), users_path %>
  </div>
<% end -%>