<div class="row">
  <h2>User index</h2>
  <div class="span16">
    <%= render partial: "search_form" %>
  </div>
</div>

<table class="table table-striped">
 <thead>
  <tr>
    <th><%= ar_t("user", "login") %></th>
    <th><%= ar_t("user", "email") %></th>
    <th><%= ar_t("user", "created_at") %></th>
    <th><%= ar_t("user", "updated_at") %></th>
    <th><%= i18n_t("label", "actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| -%>
   <tr>
     <td><%= link_to user.login, user_path(user) %></td>
     <td><%= user.email %></td>
     <td><%= time_format(user.created_at) %></td>
     <td><%= time_format(user.updated_at) %></td>
    <td>
      <%= link_to i18n_t("label", "show"), user_path(user), class: "btn primary" %>
      <%= link_to i18n_t("label", "edit"), edit_user_path(user), class: "btn" %>
      <%= link_to i18n_t("label", "destroy"), user_path(user),
                  class: "btn",
                  method: :delete,
                  confirm: i18n_t("confirm", "are_you_sure") %>
    </td>
    </tr>
    <% end -%>
   </tbody>
</table>

<%= paginate @users %>

<%= link_to i18n_t("label", "new"), new_user_path, :class => 'btn' %>
