
  <label class="label"><%= t("activerecord.attributes.user.login", :default => t("activerecord.labels.login", :default => "Login")) %>:</label>
  <p><%= @user.login %></p>

  <label class="label"><%= t("activerecord.attributes.user.email", :default => t("activerecord.labels.email", :default => "Email")) %>:</label>
  <p><%= @user.email %></p>

<%= link_to "Back", users_path  %>
