<!DOCTYPE html>
<html>
<head>
  <%= render partial: "shared/html_header" %>
</head>
<body style="padding-top: 60px">
  <%= render partial: "shared/topbar" %>

  <div class="container-fluid">
    <div class="sidebar">
      <div class="well">
        <%= render partial: (@sidebar || "sidebar") %>
      </div>
    </div>

    <div class="content">
      <div class="row">
        <div class="span16">
          <%= render partial: "shared/flash_list" %>
          <%= yield %>
          <%= render partial: "shared/footer" %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
