<!DOCTYPE html>
<html>
<head>
  <title>CarrotSns</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="padding-top: 60px">
  <%= render partial: "shared/topbar" %>
  
  <div class="container">
    <div class="content">
      <div class="row">
        <div class="span16">
          <%= render partial: "shared/flash_list" %>
          <%= yield %>
          <%= render partial: "shared/footer" %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
